
.login-container {
    height: 100%;
    position: relative;

    .bg-image {
        background-image: url("../../assets/images/login-background.jpg");
        filter: blur(1em);
        -webkit-filter: blur(1em);
        opacity: 0.7;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .login-form-container {
        position: absolute;
        display: flex;
        justify-content: center;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;

        .login-form-container-content {
            align-self: center;
            max-width: 1200px;
            background-color: #fff;

            .login-form-title {
                font-size: 1.8em;
                margin: 1em 0;
                text-align: center;
            }

            .bank-info-title {
                font-size: 3.5em;
                margin: 0.6em 0;
                text-align: center;
            }

            .bank-info {
                background-color: #2F323A;
                color: #bbb;
                padding: 2em 4em;
            }

            .login-form {
                background-color: #fff;
                padding: 2em 4em;
            }
        }
    }

}