
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    background-color: #E6ECF2;
    width: 100%;
    align-items: stretch;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    padding: 1em 2em;
    width: 100%;
    margin-left: 250px;
    min-height: 100vh;
    transition: all 0.3s;

    .col {
        padding: 0;
    }

    .page-title {
        display: flex;
        margin: 1em 0;
        font-size: 1.8em;
    }
}

@media (max-width:899px) {
    #content {
        padding: 1em;
        margin-left: 0;
    }
}
