
.login-container {
    height: 100%;
    position: relative;

    .bg-image {
        /* The image used */
        background-image: url("../../assets/images/login-background.jpg");
        /* Add the blur effect */
        filter: blur(1em);
        -webkit-filter: blur(1em);
        opacity: 0.5;
        /* Full height */
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .login-form-container {
        position: absolute;
        display: flex;
        justify-content: center;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;

        .login-form-container-content {
            align-self: center;
            
            width: 80%;
            max-width: 1200px;
            background-color: #fff;

            .bank-info {
                background-color: #2F323A;
                padding: 0;
            }

            .login-form {
                background-color: #fff;
                padding: 3em 5em;
            }
        }
    }

}