@import 'bootstrap/scss/bootstrap.scss';

$black: #000000;
$white: #FFFFFF;
$darkgray: #2F323A;
$lightgray: #EEEEEE;
$gray: #BBBBBB;
$grayblue: #E6ECF2;
$green: #428239;
$red: #AF2A2A;
$lightblue: #2791C2;

.wrapper {
    display: flex;
    background-color: #E6ECF2;
    width: 100%;
    align-items: stretch;

    .content {
        padding: 1em 2em;
        width: 100%;
        margin-left: 250px;
        min-height: 100vh;
        transition: all 0.3s;

        .block-section {
            background-color: white;
            border-radius: 0.5em;
            box-shadow: 2px 2px 5px grey;
            padding: 2em;
            margin-bottom: 2em;
        }
    }
}

.form-control {
    border: none;
    border: 0.1em solid $black;
    border-radius: 2em;

    &:disabled {
        color: #bbb;
        background-color: $lightgray;
        border: 0.1em solid $gray;
    }
}

.btn-group-submit {
    display: flex;
    justify-content: flex-end;
}

.button {
    background-color: transparent;
    border: 0.2em solid transparent;
    text-decoration: none;
    border-radius: 2em;
    font-weight: bold;
    font-size: 1em;
    margin: 0 0.5em;
}

.button--green {
    color: $green;

    &:disabled {
        opacity: 0.4;
        
        &:hover {
            border: 0.2em solid transparent;
        }
    }

    &:hover {
        border: 0.2em solid $green;
    }
}

.button--red {
    color: $red;

    &:hover {
        border: 0.2em solid $red;
    }
}

.button--gray {
    color: $darkgray;
    padding: 0.2em 0.5em;

    &:hover {
        text-decoration: none;
        color: #2F323A;
        border: 0.2em solid $darkgray;
    }
}

.button--lightgray {
    color: $gray;
    padding: 0.2em 0.5em;

    &:hover {
        border: 0.2em solid $gray;
    }
}

.invalid-entry {
    color: red;
    font-size: 1em;
    padding: 0.4em 0;
}

@media (max-width:899px) {
    .wrapper {

        .content {
            padding: 1em;
            margin-left: 0;
        }
    }
}